@import "scss/util";

.auth {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    height: 80%;
    width: 60%;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    box-shadow: 0px 0px 8px 2px var(--light-gray);
    background-color: var(--white);
    @include smallDesktop {
      grid-template-columns: 1fr 1fr;
    }
    @include medium {
      grid-template-columns: 1fr;
    }
    @include small {
      height: 100%;
      width: 100%;
      border-radius: 0;
    }
    .promo {
      border-radius: 12px 0 0 12px;
      position: relative;
      @include medium {
        display: none;
      }
      .logo {
        position: absolute;
        top: 18px;
        left: 18px;
        height: 36px;
        width: 36px;
      }
      .text {
        margin: 108px 56px;
        h2 {
          font-size: 1.6rem;
          font-weight: 400;
          color: rgb(158, 158, 158);
          margin-bottom: 12px;
        }
        p {
          color: rgb(105, 105, 105);
          font-size: 0.82rem;
          font-weight: 400;
        }
      }
      img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 360px;
        height: auto;
        border-top-left-radius: 4px;
        @include smallDesktop {
          width: 300px;
        }
      }
    }

    form {
      margin: 0 auto;
      width: 300px;
      background: var(--white);
      border-radius: 0 12px 12px 0;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include small {
        justify-content: flex-start;
        padding-top: 56px;
      }
      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
        i {
          width: 3.8rem;
          height: 3.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--gray);
          border-radius: 50%;
          border: 2px solid var(--gray);
          background-color: var(--light-gray);
          font-size: 2rem;
          font-weight: 400;
        }
        h2 {
          color: var(--dark);
          font-size: 1.6rem;
          font-weight: 500;
          margin: 8px 0 4px 0;
        }
        p {
          font-size: 0.85rem;
          text-align: center;
          font-weight: 100;
          color: var(--gray);
        }
      }
      .form-options {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        div {
          display: flex;
          align-self: center;
          color: var(--gray);
          input {
            display: flex;
            align-items: center;
            height: 16px;
            width: 16px;
          }
          label {
            margin-left: 8px;
            display: flex;
            align-items: center;
          }
        }
        span {
          color: var(--highlight);
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
      .auth_button {
        margin-top: 36px;
        background: var(--dark);
        color: var(--light-gray);
        width: 100%;
        padding: 14px;
        display: flex;
        border-radius: 6px;
        justify-content: center;
        font-weight: 500;
        &:hover {
          color: var(--white);
        }
      }
      .or {
        color: var(--gray);
        font-size: 0.7rem;
        margin: 8px 0;
        width: 100%;
        text-align: center;
      }
      .auth_google_button {
        background: var(--white);
        border: 1px solid var(--light-gray);
        font-size: 1.2rem;
        padding: 12px;
        margin-top: 0;
        display: flex;
        align-items: center;
        span {
          font-size: 0.8rem;
          font-weight: 400;
          color: var(--dark);
          margin-left: 12px;
        }
      }
      .bottom_link {
        position: absolute;
        bottom: 12px;
        width: 100%;
        color: var(--gray);
        font-size: 0.76rem;
        text-align: center;
        @include small {
          bottom: 36px;
        }
        a {
          color: var(--highlight);
          font-weight: 500;
          text-decoration: underline;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

// code generated from css background generator
.auth,
.promo {
  // background: #e7ece4;
  background-image: repeating-linear-gradient(
      45deg,
      var(--light-gray) 0px,
      var(--light-gray) 1px,
      transparent 1px,
      transparent 11px,
      var(--light-gray) 11px,
      var(--light-gray) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      90deg,
      var(--light-gray) 0px,
      var(--light-gray) 1px,
      transparent 1px,
      transparent 11px,
      var(--light-gray) 11px,
      var(--light-gray) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      0deg,
      var(--light-gray) 0px,
      var(--light-gray) 1px,
      transparent 1px,
      transparent 11px,
      var(--light-gray) 11px,
      var(--light-gray) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      135deg,
      var(--light-gray) 0px,
      var(--light-gray) 1px,
      transparent 1px,
      transparent 11px,
      var(--light-gray) 11px,
      var(--light-gray) 12px,
      transparent 12px,
      transparent 32px
    ),
    linear-gradient(90deg, var(--white), var(--white));
  // .promo {
  background-image: radial-gradient(
      circle at 99% 33%,
      hsla(235, 0%, 48%, 0.03) 0%,
      hsla(235, 0%, 48%, 0.03) 37%,
      transparent 37%,
      transparent 100%
    ),
    radial-gradient(
      circle at 46% 16%,
      hsla(235, 0%, 48%, 0.03) 0%,
      hsla(235, 0%, 48%, 0.03) 43%,
      transparent 43%,
      transparent 100%
    ),
    radial-gradient(
      circle at 99% 25%,
      hsla(235, 0%, 48%, 0.03) 0%,
      hsla(235, 0%, 48%, 0.03) 22%,
      transparent 22%,
      transparent 100%
    ),
    radial-gradient(
      circle at 57% 88%,
      hsla(235, 0%, 48%, 0.03) 0%,
      hsla(235, 0%, 48%, 0.03) 86%,
      transparent 86%,
      transparent 100%
    ),
    radial-gradient(
      circle at 82% 78%,
      hsla(235, 0%, 48%, 0.03) 0%,
      hsla(235, 0%, 48%, 0.03) 22%,
      transparent 22%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
  // }
}
