.program-dashboard {
  display: grid;
  // grid-template-columns: minmax(600px, 1fr) 1fr;
  grid-template-columns: 1fr 440px;
  height: calc(100vh - 200px);
  .program-details {
    margin-bottom: 8px;
    color: var(--gray);
    font-size: 0.8rem;
    .stat {
      display: flex;
      align-items: center;
      p {
        margin-left: 8px;
      }
    }
  }
  .batches {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    .batch {
      width: 100%;
      margin: 12px 0;
      padding: 12px;
      border-radius: 4px;
      border: 1px solid var(--light-gray);
      background: var(--white);
      color: var(--dark);
      transition: box-shadow 0.2s ease 0s, transform 0.2s ease 0s,
        padding 0.2s ease 0s;
      &:hover {
        cursor: pointer;
        transform: translateY(-4px);
      }
      h3 {
        font-size: 1.4rem;
      }
      .desc {
        font-size: 0.8rem;
        color: var(--gray);
      }
      .stats {
        margin-top: 8px;
        color: var(--gray);
        font-size: 0.8rem;
        .stat {
          display: flex;
          align-items: center;
          p {
            margin-left: 8px;
          }
        }
      }
    }
  }
  .courses {
    padding: 0 36px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 12px;
    row-gap: 12px;
    .course {
      height: 100px;
      width: 100px;
      display: flex;
      padding: 12px 24px;
      border-radius: 6px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--light-gray);
      color: var(--dark);
      position: relative;

      span {
        color: var(--gray);
        background-color: var(--white);
        display: flex;
        font-size: 0.8rem;
        border-radius: 3px;
        padding: 3px;
        right: 4px;
        top: 4px;
        position: absolute;
        display: none;
      }
      &:hover {
        cursor: pointer;
        span {
          display: unset;
        }
      }
      i {
        display: flex;
        align-items: center;
        padding: 8px;
        font-size: 40px;
      }
      h3 {
        font-size: 1.4rem;
      }
    }
  }
}
