button {
  background: var(--white);
  color: var(--dark);
  border: 0;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px var(--light-gray);
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }

  &:disabled {
    color: var(--gray);
    &:hover {
      cursor: not-allowed;
    }
  }
  span {
    margin-left: 8px;
    display: flex;
    &.noLabel {
      margin-left: 0;
    }
  }
  &.medium {
    padding: 12px 16px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    // float: right;
  }
}
